<% form_for(@mark) do |f| %>
  <%= f.error_messages %>

  <%= t('marks.mark') %>
  <%= f.text_field :name, :focus => true %>
  <p>
    <% if action_name == 'new' %>
    <%= f.submit t('marks.new') %>
    <% else %>
    <%= f.submit t('marks.edit') %>
    <% end %>
  </p>
<% end %>
