<table>
  <tr>
    <th>Name</th>
    <th colspan='3'>Actions</th>
  </tr>
<% for mark in @marks %>
  <tr  class="<%= cycle("rowA","rowB") %>">
  <tr>
    <td><%= mark.name %></td>
    <td><%= link_to 'Show', mark %></td>
    <td><%= link_to 'Edit', edit_mark_path(mark) %></td>
    <td><%= link_to 'Destroy', mark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
