<% content_tag :div, :class => 'background_loggin' do %>

<% content_tag :table do %>
  <% content_tag :tr do %>
    <% content_tag :td do %>

    <%= flash[:notice] %>

    <%= content_tag('br') %>
    <%= content_tag('br') %>

    <% content_tag :div, :id => 'right-content' do %>

    <% content_tag :div, :id => 'quarter' do %>
    <% form_tag session_path do -%>
      <%= label_tag t('login.login') %><br />
       <%= text_field_tag 'login', @login, :focus => true, :tabindex => '1' %>

       <%= label_tag t('login.password') %><br/>
       <%= password_field_tag 'password', nil, :tabindex => '2' %>

       <!-- Uncomment this if you want this functionality
            <p><%= label_tag 'remember_me', 'Remember me' %>
              <%= check_box_tag 'remember_me', '1', @remember_me %></p>
            -->

       <%= content_tag('br') %>

       <p><%= submit_tag 'Log in', :tabindex => '3' %></p>
      <% end -%>
     <% end -%>
    <% end -%>
   <% end -%>
  <% end -%>
 <% end -%>
<% end -%>


