<% form_for(@cd) do |f| %>
  <%= f.error_messages %>

  <%= t('cds.model') %>
  <%= f.text_field :model %>

  <%= t('cds.sn') %>
  <%= f.text_field :serialnumber %>

  Burn <%= radio_button('cd', 'writable', 't') %>
  Not burn<%= radio_button('cd', 'writable', 'f') %>


  <%= collection_select 'cd', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>

  <%= collection_select 'cd', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  <p>
    <% if action_name == 'new' %>
    <%= f.submit t('common-actions.create') %>
    <% else %>
    <%= f.submit t('common-actions.edit')  %>
    <% end %>
  </p>
<% end %>
