<% form_for(@mother_board) do |f| %>
  <%= f.error_messages %>

  <%= t('motherboards.model') %>
  <%= f.text_field :title %>

  <%= t('motherboards.sn') %>
  <%= f.text_field :serialnumber %>

  <%= t('motherboards.computer') %>

  <div id="quarter" >
  <%= collection_select 'mother_board', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>
  </div>

  <%= t('motherboards.mark') %>
  <div id="quarter" >
  <%= collection_select 'mother_board', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  </div>

  <div id="quarter" >
    <%= t 'bill.code' %>
    <%= collection_select 'mother_board', 'bill_id', Bill.find(:all), 'id', :company_bill,
        {:prompt => true} %>
  </div >

  <p>

    <% if action_name == 'new' %>
    <%= f.submit t('common-actions.create') %>
    <% else %>
    <%= f.submit t('common-actions.edit') %>
    <% end %>

  </p>
<% end %>
