<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<% form_for(@mother_board) do |f| %>
  <%= f.error_messages %>


  <%= t('motherboards.sn') %>
  <%= f.text_field :serialnumber, :focus => true %>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('motherboards.inventory_register') %>
  <%= f.text_field :inventory_register %>

  <% 2.times do %>
  <br>
  <% end %>

  <div id="quarter" >
  <%= t('motherboards.computer') %>
  <%= collection_select 'mother_board', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>
  </div>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('motherboards.mark') %>
  <div id="quarter" >
  <%= collection_select 'mother_board', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  </div>

  <%= observe_field "mother_board_mark_id", :update => "model_id_container",
  :with => "mark_id", :url => { :controller => "mother_boards",
  :action => "models" } %>

  <% 2.times do %>
  <br>
  <% end %>

  Modelo
  <div id="model_id_container">
  </div>

  <% 2.times do %>
  <br>
  <% end %>

  <div id="quarter" >
    <%= t 'bill.code' %>
    <%= collection_select 'mother_board', 'bill_id', Bill.find(:all), 'id', :company_bill,
        {:prompt => true} %>
  </div >

  <% 2.times do %>
  <br>
  <% end %>

  <p>

    <% if action_name == 'new' %>
    <%= f.submit t('common_actions.create') %>
    <% else %>
    <%= f.submit t('common_actions.edit') %>
    <% end %>

  </p>
<% end %>
