<% form_for(@mother_board) do |f| %>
  <%= f.error_messages %>

  <%= t('motherboards.model') %>
  <%= f.text_field :title %>

  <%= t('motherboards.sn') %>
  <%= f.text_field :serialnumber %>

  <%= t('motherboards.computer') %>
  <%= collection_select 'mother_board', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>

  <%= t('motherboards.mark') %>
  <%= collection_select 'mother_board', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  <p>

    <% if action_name == 'new' %>
    <%= f.submit t('common-actions.create') %>
    <% else %>
    <%= f.submit t('common-actions.edit') %>
    <% end %>

  </p>
<% end %>
