<table>
  <tr>
    <td>Title</td>
    <td>Serial Number</td>
    <td>Computer</td>
    <td colspan='3'>Actions</td>
  </tr>

<% for mother_board in @mother_boards %>
  <tr>
    <td><%= mother_board.title %></td>
    <td><%= mother_board.serialnumber %></td>
    <td><%= mother_board.computer.name rescue nil %></td>
    <td><%= link_to 'Show', mother_board %></td>
    <td><%= link_to 'Edit', edit_mother_board_path(mother_board) %></td>
    <td><%= link_to 'Destroy', mother_board, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mother_board', new_mother_board_path %>
