<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<%= advice( @screen.is_part_of_a_workstation, t('common-actions.hide-advice'),
t('help-phrases.in-workstation'))%>

<% form_for(@screen) do |f| %>
  <%= f.error_messages %>

  <%= t('screens.model') %>
  <%= f.text_field :model %>

  <%= t('screens.sn') %>
  <%= f.text_field :serialnumber %>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('screens.inventory_register') %>
  <%= f.text_field :inventory_register %>

  <div id="quarter" >
    <%= collection_select 'screen', 'mark_id', Mark.find(:all), 'id', 'name',
        {:prompt => true} %>
  </div >

  <% if not @screen.is_part_of_a_workstation %>
  <div id="quarter" >
    <%= collection_select 'screen', 'place_id', Place.find(:all), 'id', 'title',
        {:prompt => true} %>
  </div>
  <% end %>

  <div id="quarter" >
    <%= t 'bill.code' %>
    <%= collection_select 'screen', 'bill_id', Bill.find(:all), 'id', :company_bill,
        {:prompt => true} %>
  </div >

  <p>
    <% if action_name == 'new' %>
    <%= f.submit  t('common-actions.create') %>
    <% else %>
    <%= f.submit  t('common-actions.edit') %>
    <% end %>
  </p>
<% end %>
