<%= advice( @screen.is_part_of_a_workstation)%>

<% form_for(@screen) do |f| %>
  <%= f.error_messages %>

  <%= t('screens.model') %>
  <%= f.text_field :model %>

  <%= t('screens.sn') %>
  <%= f.text_field :serialnumber %>

  <%= collection_select 'screen', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>

  <% if not @screen.is_part_of_a_workstation %>
    <%= collection_select 'screen', 'place_id', Place.find(:all), 'id', 'title',
      {:prompt => true} %>
  <% end %>
  <p>
    <% if action_name == 'new' %>
    <%= f.submit  t('common-actions.create') %>
    <% else %>
    <%= f.submit  t('common-actions.edit') %>
    <% end %>
  </p>
<% end %>
