<%= advice( @computer.is_part_of_a_workstation,t('common-actions.hide-advice'),
 t('help-phrases.in-workstation'))%>

<% form_for(@computer) do |f| %>
<%= f.error_messages %>


    <%= t('computers.name') %>
    <%= f.text_field :name %>

    <% 2.times do %>
    <br>
    <%  end %>

    <%= f.label 'mac' %>
    <%= f.text_field :mac %>

    <% 2.times do %>
    <br>
    <% end %>

    <%= f.label 'ip' %>
    <%= f.text_field :ip %>

    <% 2.times do %>
    <br>
    <% end %>

    <%= t('computers.inventory_register') %>
    <%= f.text_field :inventory_register %>

    <% 2.times do %>
    <br>
    <% end %>

    <%= t('computers.available') %>
    <%= t('computers.y') %> <%= radio_button('computer', 'available', 't') %>
    <%= t('computers.not') %> <%= radio_button('computer', 'available', 'f') %>

    <% 2.times do %>
    <br>
    <%  end %>


  <% if not @computer.is_part_of_a_workstation %>
  <div id="quarter" >
    <%= collection_select 'computer', 'place_id', Place.find(:all), 'id', 'title',
    {:prompt => true} %>
  </div>
  <% end %>

  <div id="quarter" >
    <%= t 'bill.code' %>
    <%= collection_select 'computer', 'bill_id', Bill.find(:all), 'id', :company_bill,
        {:prompt => true} %>
  </div >

  <% 2.times do %>
  <br>
  <%  end %>

  <% if action_name == 'new' %>
  <%= f.submit t('computers.create') %>
  <% else %>
  <%= f.submit t('computers.edit') %>
  <% end %>

<% end %>
