<% form_for(@computer) do |f| %>
  <%= f.error_messages %>

  <%= f.label 'name' %>  
  <%= f.text_field :name %>  

  <%= f.label 'mac' %>  
  <%= f.text_field :mac %>  

  <%= f.label 'ip' %>  
  <%= f.text_field :ip %>  

  <p>
    
    <% if action_name == 'new' %>
    <%= f.submit "Create" %>
    <% else %>
    <%= f.submit "Edit" %>
    <% end %>

  </p>
<% end %>
