<%= advice( @computer.is_part_of_a_workstation)%>

<div id="writer" >
<% form_for(@computer) do |f| %>
<%= f.error_messages %>


    <%= t('computers.name') %>
    <%= f.text_field :name %>

    <%= f.label 'mac' %>
    <%= f.text_field :mac %>

    <%= f.label 'ip' %>
    <%= f.text_field :ip %>

    <%= t('computers.available') %>
    <%= t('computers.y') %> <%= radio_button('computer', 'available', 't') %>
    <%= t('computers.not') %> <%= radio_button('computer', 'available', 'f') %>


  <% if not @computer.is_part_of_a_workstation %>
  <div id="quarter" >
    <%= collection_select 'computer', 'place_id', Place.find(:all), 'id', 'title',
    {:prompt => true} %>
  </div>
  <% end %>

  <% if action_name == 'new' %>
  <%= f.submit t('computers.create') %>
  <% else %>
  <%= f.submit t('computers.edit') %>
  <% end %>

<% end %>
</div>
