<table>
  <tr>
    <th>Pc</th>
    <th>Mac</th>
    <th>Ip</th>
    <th>Available</th>
    <th>MBoard</th>
    <th>Harddisk</th>
    <th>Memory</th>
    <th>Cd</th>
    <th>Dvd</th>
    <th colspan='3'>Actions</th>
  </tr>
<% for computer in @computers %>
  <tr  class="<%= cycle("rowA","rowB") %>">
    <td><%= computer.name %></td>
    <td><%= computer.mac %></td>
    <td><%= computer.ip %></td>
    <td><%= computer.available %></td>
    <td><%= computer.mother_board.title rescue nil %></td>
    <td><%= computer.harddisk.collect {|x| x.model + '<br>' } rescue nil %></td>
    <td><%= computer.memory.collect {|x| x.model + '<br>' } rescue nil %></td>
    <td><%= computer.cd.collect {|x| x.model + '<br>' } rescue nil %></td>
    <td><%= computer.dvd.collect {|x| x.model + '<br>' } rescue nil %></td>
    <td><%= link_to 'Show', computer %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
    <td><%= link_to 'Destroy', computer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
