<div>
  <table>
    <tr>
      <%= content_tag('th', 'Pc') %>
      <%= content_tag('th', 'Mac') %>
      <%= content_tag('th', 'Ip') %>
      <%= content_tag('th', t('computers.available')) %>
      <%= content_tag('th', 'Cd') %>
      <%= content_tag('th', 'Dvd') %>
      <%= content_tag('th', t('computers.place')) %>
      <%= content_tag('th', t('computers.workstation?')) %>
      <th colspan='3'><%= t 'common-actions.actions' %></th>
    </tr>
    <% for computer in @computers %>
    <tr  class="<%= cycle("rowA","rowB") %>">
      <%= content_tag('td', computer.name) %>
      <%= content_tag('td', computer.ip) %>
      <%= content_tag('td', computer.mac) %>
      <%= content_tag('td', check(computer.available)) %>
      <%= content_tag('td', computer.cd.collect {|x| x.model + '<br>' } ) rescue nil%>
      <%= content_tag('td', computer.dvd.collect {|x| x.model + '<br>' } ) rescue nil %>
      <%= content_tag('td', computer.place.title ) rescue nil%>
      <%= content_tag('td', in_workstation?(computer )) %>
      <td><%= link_to t('common-actions.show') , computer %></td>
      <td><%= link_to t('common-actions.edit') , edit_computer_path(computer) %></td>
      <td><%= link_to t('common-actions.destroy') , computer, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  </table>
</div>


