<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<% cache(:fragment => "computers/_search") do %>
<%= javascript_include_tag :defaults %>

<a href="#" onclick="Effect.toggle('toggle_search', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
 <% content_tag :div, :id => 'toggle_search' do %>
   <% content_tag :table do %>
     <% form_tag :action => 'search' do %>
       <% content_tag :tr do %>
         <%= content_tag('td', t('computers.name')) %>
         <%= content_tag('td',text_field_with_auto_complete(:computer, :name, {:size => 20, :accesskey => 'n', :tabindex => '1', :focus => true}, {:method => :get})) %>
         <%= content_tag('td', submit_tag(t('search.label')), :tabindex => '2') %>
       <% end %>
     <% end %>
     <% content_tag :tr do %>
       <% form_tag :action => 'search' do %>
         <%= content_tag('td', 'Ip:') %>
         <%= content_tag('td',text_field_with_auto_complete(:computer, :ip, {:size => 20, :accesskey => 'i', :tabindex => '3'}, {:method => :get})) %>
         <%= content_tag('td', submit_tag(t('search.label')), :tabindex => '4') %>
       <% end %>
     <% end %>
       <% content_tag :tr do %>
         <% form_tag :action => 'search' do %>
           <%= content_tag('td', 'Mac:') %>
           <%= content_tag('td',text_field_with_auto_complete(:computer, :mac, {:size => 20, :accesskey => 'm', :tabindex => '5'}, {:method => :get})) %>
           <%= content_tag('td', submit_tag(t('search.label')), :tabindex => '6') %>
         <% end %>
       <% end %>
   <% end %>
  <% end %>
<% end %>
