In numbers: <%= url_google_graph_pie_3d @availables, @unavailables %>

<div>
All: <%= @all %>
</div>

<div>
Availables: <%= @availables %>
</div>

<div>
Unavailables: <%= @unavailables %>
</div>

<div>
Total: <%= @total %>
</div>




