<% cache(:fragment => "computers/_stats") do %>
In numbers of places: <b><%= url_google_graph_pie_3d @hash %></b>


<div>
  <%= link_to 'All', :controller => "computers", :action => "index" %>
  <%= @all %>
</div>

<div>
  <%= link_to 'Availables', :controller => "computers", :action => "available" %>
  <%= @availables %>
</div>

<div>
  <%= link_to 'Unavailables', :controller => "computers", :action => "unavailable" %>
  <%= @unavailables %>
</div>

<% end %>
