<% cache(:fragment => "computers/_stats") do %>
<%= t('computers.stats_paragraph') %>:

  <% content_tag :div do %>
    <%= link_to t('computers.all'), :controller => "computers", :action => "index" %>
    <%= @availables_computers.count + @unavailables_computers.count %>
  <% end %>

  <% content_tag :div do %>
    <%= link_to t('computers.available').pluralize, :controller => "computers", :action => "available" %>
    <%= @availables_computers.count %>
  <% end %>

  <% content_tag :div do %>
    <%= link_to t('computers.unavailable').pluralize, :controller => "computers", :action => "unavailable" %>
    <%= @unavailables_computers.count %>
  <% end %>

<% end %>


<% content_tag :table do %>
      <% content_tag :tr do %>
        <% content_tag :td  do %>
        <a href="#" onclick="Effect.toggle('toggle_appear_pie_3d_graph', 'appear'); return false;">
          <%= t('common_actions.show_hide') %></a>
        <div id='toggle_appear_pie_3d_graph' style='border: solid 1px #eee;' >
          <%= javascript_include_tag('swfobject') %>
          <%= @graph %>
        </div>
        <% end -%>
      <% end -%>
<% end -%>

