<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<% form_for(@harddisk) do |f| %>
  <%= f.error_messages %>

  <%= t('harddisks.sn') %>
  <%= f.text_field :serialnumber %>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('harddisks.inventory_register') %>
  <%= f.text_field :inventory_register %>

  <% 2.times do %>
  <br>
  <% end %>

  <% content_tag :div, :id => "quarter" do %>
  <%= f.label 'size' %>
  <%= f.text_field :size %>
  <%= select 'harddisk', 'unit', [['mb', 'mb'], ['gb', 'gb']], {:include_blank => true} %>
  <% end -%>

  <% 2.times do %>
  <br>
  <% end %>

  Computer
  <% content_tag :div, :id => "quarter" do %>
  <%= collection_select 'harddisk', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>
  <% end -%>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('harddisks.mark') %>
  <% content_tag :div, :id => "quarter" do %>
  <%= collection_select 'harddisk', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  <% end -%>

  <%= observe_field "harddisk_mark_id", :update => "model_id_container",
  :with => "mark_id", :url => { :controller => "harddisks",
  :action => "models" } %>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('motherboards.model') %>
  <div id="model_id_container">
  </div>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t 'bill.code' %>
  <% content_tag :div, :id => "quarter" do %>
  <%= collection_select 'harddisk', 'bill_id', Bill.find(:all), 'id', :company_bill,
      {:prompt => true} %>
  <% end -%>

  <% 2.times do %>
  <br>
  <% end %>

  <p>
    <% if action_name == 'new' %>
    <%= f.submit  t('common_actions.create') %>
    <% else %>
    <%= f.submit  t('common_actions.edit')  %>
    <% end %>
  </p>
<% end %>
