<table>
  <tr>
    <th>Model</th>
    <th>Serial Number</th>
    <th>Mark</th>
    <th>Pc</th>
    <th colspan='3'>Actions</th>
  </tr>
<% for harddisk in @harddisks %>
  <tr  class="<%= cycle("rowA","rowB") %>">
    <td><%= harddisk.model %></td>
    <td><%= harddisk.serialnumber %></td>
    <td><%= harddisk.mark.name rescue nil  %></td>
    <td><%= harddisk.computer.name rescue nil  %></td>
    <td><%= link_to 'Show', harddisk %></td>
    <td><%= link_to 'Edit', edit_harddisk_path(harddisk) %></td>
    <td><%= link_to 'Destroy', harddisk, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
