<table>
  <tr>
    <td>Model</td>
    <td>SN</td>
    <td>Computer</td>
    <td colspan='3' align='center' >Actions</td>
  </tr>

<% for harddisk in @harddisks %>
  <tr  class="<%= cycle("rowA","rowB") %>">
    <td><%= harddisk.model %></td>
    <td><%= harddisk.serialnumber %></td>
    <td><%= harddisk.computer.name  rescue nil %></td>
    <td><%= link_to 'Show', harddisk %></td>
    <td><%= link_to 'Edit', edit_harddisk_path(harddisk) %></td>
    <td><%= link_to 'Destroy', harddisk, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New harddisk', new_harddisk_path %>
