<% form_for(@user) do |f| %>

   <div>
     <p><label for="login-label">Login : </label>
       <label for="login"><%= @user.login %></label><br/>
   </div>

   <% if current_user.id == @user.id || is_admin? %>
    <p><label for="email">Email</label><br/>
    <%= f.text_field :email %></p>
    <p><label for="password">Password</label><br/>
    <%= f.password_field :password %></p>
    <p><label for="password_confirmation">Confirm Password</label><br/>
    <%= f.password_field :password_confirmation %></p>
    <div id='quarter'>
      <%= label_tag 'language', 'Language' %><br/>
      <%= f.select :language, [['English','en'], ['Spanish','es']] %>
    </div>
   <% end %>


   <% if is_admin? && @user.login != 'admin' %>
   <div id='quarter'>
     <p>
       <%= f.label :is_admin %><br />
       <%= f.check_box :is_admin %>
     </p>
   </div>
   <% end %>

   <%= f.submit "Modificar", :class => "boton"  %>
<% end %>
