<% cache(:fragment => "shared/_faq") do %>

<!-- Workstations -->

<% content_tag :table do %>
<% content_tag :tr, option = {:valign => 'top'} do %>
<% content_tag :td do %>
<% content_tag :h3 do %>
<a href="#<%= t('menu.workstations') %>"><%= t('menu.workstations') %></a>
<%= content_tag('br') %>
<a href="#<%= t('menu.places') %>"><%= t('menu.places') %></a>
<%= content_tag('br') %>
<a href="#Hardware">Hardware</a>
<%= content_tag('br') %>
<a href="#<%= t('menu.marks') %>"><%= t('menu.marks') %></a>
<%= content_tag('br') %>
<a href="#<%= t('menu.bills') %>"><%= t('menu.bills') %></a>
<%= content_tag('br') %>
<a href="#<%= t('menu.pages') %>"><%= t('menu.pages') %></a>
<% end %>
<% end %>

<% content_tag :td do %>

<!-- Workstations -->

<a name="<%= t('menu.workstations') %>" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= t('menu.workstations') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_are_workstations_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.workstations_module_is'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b',' - ' + t('faq.which_are_the_rules_to_have_a_workstation'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.rules_to_consider_in_a_workstation'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_statistics_of_workstations'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.workstations_statistics_show'), :class => 'identation_help') %>
<% end %>



<!-- Places -->

<a name="<%= t('menu.places') %>" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= t('menu.places') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_is_places_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.place_module_is'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_can_i_do_there'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.there_you_can'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_statistics_of_places'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_statistics_of_places'), :class => 'identation_help') %>
<% end %>

<!-- Hardware -->

<a name="Hardware" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= 'Hardware' %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_is_hardware_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_hardware_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_computers'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_computers_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_motherboards'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_motherboards_has'), :class => 'identation_help') %>
<% end %>


<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_harddisks'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_harddisks_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_memories'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_memories_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_cds'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_cds_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_dvds'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_dvds_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_screens'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_screens_has'), :class => 'identation_help') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_in_submodule_printers'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_printers_has'), :class => 'identation_help') %>
<% end %>


<!-- Marks -->

<a name="<%= t('menu.marks') %>" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= t('menu.marks') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_is_mark_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_mark_has'), :class => 'identation_help') %>
<% end %>


<!-- Companies -->

<a name="<%= t('menu.companies') %>" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= t('menu.companies') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_is_company_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_company_has'), :class => 'identation_help') %>
<% end %>

<!-- Bill -->

<a name="<%= t('menu.bills') %>" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= t('menu.bills') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_is_bill_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_bill_has'), :class => 'identation_help') %>
<% end %>

<!-- Pages -->

<a name="<%= t('menu.pages') %>" id="a"></a>
<% content_tag :h2, option = {:class => 'advice'}  do %>
  <%= t('menu.pages') %>
<% end %>

<% content_tag :div do %>
  <%= content_tag('b', ' - ' + t('faq.what_is_pages_module'), :class => 'identation_help') %>
  <%= content_tag('p', t('faq.in_pages_has'), :class => 'identation_help') %>
<% end %>


<%= render :partial => 'shared/shortcuts' %>

<% end %>
<% end %>
<% end %>


<a href='#' onclick='effect.ScrollTo('article_top'); return false;'> <%= t('common_actions.top_page') %></a>
<% end %>
