<% cache(:fragment => "shared/_head") do %>
<head>
  <%= set_charset %>
  <title><%= t('inventory.title') %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="default.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'default' %>

  <%= javascript_include_tag('swfobject') %>
  <%= javascript_include_tag('prototype') %>
  <%= javascript_include_tag('scriptaculous/src/scriptaculous') %>
</head>
<% end %>
