<% cache(:fragment => "shared/_head") do %>
<head>
  <%= set_charset %>
  <title><%= t('inventory.title') %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'blue_sorter' %>

  <%= javascript_include_tag('jquery-1.3.2.js') %>
  <%= javascript_include_tag('jquery.tablesorter.min.js') %>
  <%= javascript_include_tag('swfobject') %>
  <%= javascript_include_tag('prototype') %>
  <%= javascript_include_tag('scriptaculous/src/scriptaculous') %>


</head>
<% end %>
