<% cache(:fragment => "shared/_new_menu") do %>

<div id="menu">
  <div id="marco">

    <!--MENU-->
    <ul class="menu2">
      <% if logged_in? %>

      <li class="top">
        <a href="/workstations" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.workstations' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/workstations"><%= t 'menu.list_workstations' %></a></li>
          <li><a href="/workstations/new"><%= t 'menu.new' %></a></li>
          <li><a href="/workstations/stats"><%= t 'menu.stats_workstations' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>


      <li class="top">
        <a href="/places" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.places' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/places"><%= t 'menu.list_places' %></a></li>
          <li><a href="/places/new"><%= t 'menu.new_place' %></a></li>
          <li><a href="/places/stats"><%= t 'menu.stats_places' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>


      <li class="top"><a href="#" id="telmex" class="top_link"><span class="down">Hardware</span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/computers"  class="fly"><%= t 'menu.computers' %></a>
            <ul>
              <li><a href="/computers"  class="fly"><%= t 'menu.list_computers' %></a>
              <li><a href="/computers/available"><%= t 'menu.availables_computers' %></a></li>
              <li><a href="/computers/unavailable"><%= t 'menu.unavailables_computers' %></a></li>
              <li><a href="/computers/stats"><%= t 'menu.stats_computers' %></a></li>
              <li><a href="/computers/new"><%= t 'menu.new_computer' %></a></li>
            </ul>
          </li>
          <li><a href="/mother_boards" class="fly"><%= t 'menu.motherboards' %></a>
            <ul>
              <li><a href="/mother_boards"><%= t 'menu.list_motherboards' %></a></li>
              <li><a href="/mother_boards/new"><%= t 'menu.new_motherboard' %></a></li>
            </ul>
          </li>
          <li><a href="/harddisks" class="fly"><%= t 'menu.harddisks' %></a>
            <ul>
              <li><a href="/harddisks"><%= t 'menu.list_harddisks' %></a></li>
              <li><a href="/harddisks/new"><%= t 'menu.new_harddisk' %></a></li>
            </ul>
          </li>
          <li><a href="/memories" class="fly"><%= t 'menu.memories' %></a>
            <ul>
              <li><a href="/memories"><%= t 'menu.list_memories' %></a></li>
              <li><a href="/memories/new"><%= t 'menu.new_memorie' %></a></li>
            </ul>
          </li>
          <li><a href="/cds" class="fly"><%= t 'menu.cds' %></a>
            <ul>
              <li><a href="/cds"><%= t 'menu.list_cds' %></a></li>
              <li><a href="/cds/new"><%= t 'menu.new_cd' %></a></li>
            </ul>
          </li>
          <li><a href="/dvds" class="fly"><%= t 'menu.dvds' %></a>
            <ul>
              <li><a href="/dvds"><%= t 'menu.list_dvds' %></a></li>
              <li><a href="/dvds/new"><%= t 'menu.new_dvd' %></a></li>
            </ul>
          </li>
          <li><a href="/screens" class="fly"><%= t 'menu.screens' %></a>
            <ul>
              <li><a href="/screens"><%= t 'menu.list_screens' %></a></li>
              <li><a href="/screens/new"><%= t 'menu.new_screen' %></a></li>
            </ul>
          </li>
          <li><a href="/printers" class="fly"><%= t 'menu.printers' %></a>
            <ul>
              <li><a href="/printers"><%= t 'menu.list_printers' %></a></li>
              <li><a href="/printers/new"><%= t 'menu.new_printer' %></a></li>
            </ul>
          </li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <li class="top">
        <a href="/marks" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.marks' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/marks"><%= t 'menu.list_marks' %></a></li>
          <li><a href="/marks/new"><%= t 'menu.new_mark' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <li class="top">
        <a href="/companies/" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.companies' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/companies/"><%= t 'menu.list_companies' %></a></li>
          <li><a href="/companies/new"><%= t 'menu.company_new' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <li class="top">
        <a href="/bills/" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.bills' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/bills/"><%= t 'menu.bills' %></a></li>
          <li><a href="/bills/new"><%= t 'menu.bill_new' %></a></li>
          <li><a href="/bills/stats"><%= t 'menu.stats_places' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <% if is_an_admin_user? %>
      <li class="top">
        <a href="#" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.users' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/users/list"><%= t 'menu.users_list' %></a></li>
          <li><a href="/signup"><%= t 'menu.new_account' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>



      <li class="top">
        <a href="#" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.pages' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/pages/"><%= t 'menu.list_pages' %></a></li>
          <li><a href="/pages/new"><%= t 'menu.new_page' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>
      <% end %>

      <li class="top">
        <a href="/users/<%= current_user.id %>/edit" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.account' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
          <li><a href="/users/<%= current_user.id %>/edit"><%= t 'menu.account_edit' %></a></li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>

      <li class="top">
        <a href="/logout" id="telmex" class="top_link">
          <span class="down"><%= t 'menu.logout' %></span>
          <!--[if gte IE 7]><!--></a><!--<![endif]-->
      </li>


    </ul>
    <% end %>
</ul>
<!-- FIN MENU-->

<div id='user'>

<%= render :partial => 'shared/login' %></div>

</div>
</div>
<% end %>
