<div id="shortcuts">
<%= content_tag('h2','HotKeys:', option = {:class => 'advice'}) %>
<%= content_tag('div','Alt-Shift-b go to Bills') %>
<%= content_tag('div','Alt-Shift-c go to Computers') %>
<%= content_tag('div','Alt-Shift-w go to Workstations') %>
<%= content_tag('div','Alt-Shift-p go to Places') %>
<%= content_tag('div','Alt-Shift-s go to Marks') %>
<%= content_tag('div','Alt-Shift-f go to Companies') %>
<%= content_tag('div','Alt-Shift-1 go to Help') %>
<%= content_tag('div','Alt-Shift-l go to Logout') %>
</div>
