<% form_for(@bill) do |f| %>
  <%= f.error_messages %>

  <div id="quarter" >
  <%= collection_select 'company', 'company_id', Company.find(:all), 'id', 'name',
      {:prompt => true} %>
  </div>
  <p>
     Codigo <br />
    <%= f.text_field :code %>
  </p>

  <% if action_name == 'new' %>
  <%= f.submit t('bill.create') %>
  <% else %>
  <%= f.submit t('bill.edit') %>
  <% end %>

<% end %>
