<table>
  <% content_tag :tr do %>
  <%= content_tag('th', t('bill.company')) %>
  <%= content_tag('th', t('bill.company')) %>
  <th colspan='3'><%= t 'common-actions.actions' %></th>
  <% end %>

  <% for bill in @bills %>
  <tr>
    <%= content_tag('td', bill.code) %>
    <%= content_tag('td', bill.companies.collect {|x| x.name.to_s + '<br>' }) %>
    <%= content_tag('td',link_to(t('common-actions.show'), bill)) %>
    <%= content_tag('td',link_to(t('common-actions.edit'), edit_bill_path(bill))) %>
    <%= content_tag('td',link_to(t('common-actions.destroy'), bill, :confirm => 'Are you sure?', :method => :delete)) %>
</tr>
<% end %>
</table>
