<%= javascript_include_tag "prototype" %>

<% form_for(@workstation) do |f| %>
<%= f.error_messages %>

<%= t('workstations.place') %>

<div id="quarter" >
  <select name="places" id="places">
    <option value=""><%= t('workstations.select_a_place') %></option>
    <% @places.each do |place| %>
    <option value="<%= place.id %>">
      <%= place.title %>
    </option>
    <% end %>
  </select>
</div >


<% 2.times do %>
<br>
<% end %>

<div id="left-content" >
  <%= @place_name rescue nil %>
</div>

<%= hidden_field(:workstation, :place_id, :value => @place_id) %>

<% 2.times do %>
<br>
<% end %>

<% content_tag :table, option = {:width => '100%', :cellspacing => '20px'} do %>
  <% content_tag :tr do %>

    <% content_tag :td, option = {:valign =>'top'} do %>
      <% if not @computers.empty? %>
      <%= label_tag('computers', t('phrases.list_of') + ' ' + t('computers.title')) %>
      <br>
      <%= collection_select 'workstation', 'computer_id', @computers, 'id', 'name',{},
          {:prompt => true, :size => @computers.count + 1 } %>
      <% end %>
    <% end %>



    <% content_tag :td, option = {:valign =>'top'} do %>
      <% if not @screens.empty? %>
      <%= label_tag('screens',  t('phrases.list_of') + ' ' + t('screens.title')) %>
      <br>
      <%= collection_select 'workstation', 'screen_id', @screens, 'id', :description_model ,{},
          {:prompt => true, :size => @screens.count + 1 } %>

      <% end %>

      <br>
      <div id="registers_code_screen">
      </div>
    <% end %>


    <% content_tag :td, option = {:valign =>'top'} do %>
      <% if not @printers.empty? %>
      <%= label_tag('printers',  t('phrases.list_of') + ' ' + t('printers.title')) %>
      <br>
      <%= collection_select 'workstation', 'printer_id', @printers, 'id', :description_model,{},
          {:prompt => true, :size => @printers.count + 1 } %>
      <% end %>

      <br>
      <div id="registers_code_printer">
      </div>
    <% end %>
  <% end %>
<% end %>


<p>
  <% if action_name == 'new' %>
  <%= f.submit t('workstations.create') %>
  <% else %>
  <%= f.submit t('workstations.edit') %>
  <% end %>
</p>
<% end %>

