<% form_for(@workstation) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'selector_pc_list' %>

  <p>
    <% if action_name == 'new' %>
    <%= f.submit "Create" %>
    <% else %>
    <%= f.submit "Edit" %>
    <% end %>
  </p>
<% end %>

<%= debug(params) %>
