<% if not @workstations.empty? %>
<table>
  <tr>
    <th>Computer</th>
    <th>Screen</th>
    <th>Printer</th>
    <th colspan='3'>Actions</th>
  </tr>
  <% for workstation in @workstations %>
  <% @c = Computer.find(workstation.computer_id).name %>
  <% @s = Screen.find(workstation.screen_id).model %>
  <% @p = Printer.find(workstation.printer_id).model %>
  <tr  class="<%= cycle("rowA","rowB") %>">
    <td><%= @c rescue nil  %></td>
    <td><%= @s rescue nil  %></td>
    <td><%= @p rescue nil  %></td>
    <td><%= link_to 'Show', workstation %></td>
    <td><%= link_to 'Edit', edit_workstation_path(workstation) %></td>
    <td><%= link_to 'Destroy', workstation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>


<% end %>
