<%= javascript_include_tag "prototype" %>

<div id='subtitles' >
  <%= t('workstations.place') %>
</div>

<select name="places" id="places">
  <option value=""><%= t('workstations.select_a_place') %></option>
  <% @places.each do |place| %>
  <option value="<%= place.id %>">
    <%= place.title %>
  </option>
  <% end %>
</select>
