<%= javascript_include_tag "prototype" %>

Place
<select name="places" id="places">
  <option value="">Select a place</option>
  <% @places.each do |place| %>
  <option value="<%= place.id %>">
    <%= place.title %>
  </option>
  <% end %>
</select>


Computer
<%= collection_select 'workstation', 'computer_id', @computers, 'id', 'name',
    {:prompt => true} %>

Screen:
<%= collection_select 'workstation', 'screen_id', @screens, 'id', 'model',
    {:prompt => true} %>


Printer:
<%= collection_select 'workstation', 'printer_id', @printers, 'id', 'model',
    {:prompt => true} %>





<%= observe_field("places",
    :update => "outer",
:url => { :controller => 'workstations', :action => :new },
:with => "'place_id='+value") %>

<%= params[:place_id] %>
<%= @workstations.size rescue nil %>







