<%  @workstations = Workstation.list_for_place(params[:place_id]) %>
<% if not @workstations.empty? %>

<!-- small resume of stats -->
<%= render :partial=> 'small_resume_of_stats' %>

<% 2.times do %>
<br>
<%  end %>

<!-- ################### -->
<!-- graphics statistics -->
<div id='stats_lateral_panel'>
  <% cache(:fragment => "workstations/_stats") do %>

  <%  @value = GoogleChart.pie_3d_380x150(@chart_computer).to_url %>
  <%= image_tag(@value)  rescue nil %>

  <%  @value = GoogleChart.pie_3d_380x150(@chart_screen).to_url %>
  <%= image_tag(@value)  rescue nil %>

  <%  @value = GoogleChart.pie_3d_380x150(@chart_printer).to_url %>
  <%= image_tag(@value)  rescue nil %>

  <% end %>

</div>

<% 2.times do %>
<br>
<%  end %>

<!-- ###################### -->
<!-- list hardware of stats -->
<a href="#" onclick="Effect.toggle('list_workstations', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
|
<%= link_to t('common_actions.download'), :controller => 'workstations', :action => 'xls_workstations',
:id => params[:place_id]  %>

<div id='list_workstations'>
  <%= render :partial => 'list' %>
</div>

<% else %>

<div id='description' >
  <div><%= t('workstations.list_of_equipments') %> <%= @place_name rescue nil %> :  </div>
</div>

<div id='left-content' >
  <div>-</div>
</div>

<% end %>
