<%= javascript_include_tag "prototype" %>

<% content_tag :table do %>

  <% content_tag :tr, :valign => 'top' do %>


     <!--    List of data for the workstations -->
     <% content_tag :td, :width => '80%' do %>
        <%=  render :partial => 'detailed_info_of_workstation' %>
     <% end %>


     <!--    Form with list of places  -->
     <% content_tag :td do %>

       <% form_for(@workstation) do |f| %>
          <%= f.error_messages %>

          <%= content_tag('h3',t('menu.change_place')) %>

          <%= t('phrases.list_of') + t('menu.places') %>
          <%= collection_select(:workstation, :place_id,
              Place.find(:all, :order => 'title'), :id, :title,{},
          {:prompt => true, :size => Place.all.count + 1 }) %>


          <% if @workstation.computer_id.nil? %>
              <%= hidden_field(:before, :old_computer_id,
                  :value => 'nothing') %>
          <% else %>
              <%= hidden_field(:before, :old_computer_id,
                  :value => @workstation.computer_id) %>
          <% end %>

          <% if @workstation.screen_id.nil? %>
              <%= hidden_field(:before, :old_screen_id,
                  :value => 'nothing') %>
          <% else %>
              <%= hidden_field(:before, :old_screen_id,
                 :value => @workstation.screen_id) %>
          <% end %>

          <% if @workstation.printer_id.nil? %>
              <%= hidden_field(:before, :old_printer_id,
                  :value => 'nothing') %>
          <% else %>
              <%= hidden_field(:before, :old_printer_id,
                  :value => @workstation.printer_id) %>
          <% end %>


           <div id="edit_workstation">
           </div>


          <% if action_name == 'new' %>
             <%= f.submit t('workstations.create') %>
          <% else %>
             <%= f.submit t('workstations.edit') %>
          <% end %>




       <% end %>

     <% end %>

  <% end %>

<% end -%>

<%= link_to t('common_actions.show'), @workstation %> |
<%= link_to t('common_actions.back'), workstations_path %>


<%= observe_field("workstation_place_id", :update => "edit_workstation",
:url => { :controller => 'workstations', :action => :devices_options },
:with => "'place_id='+value") %>


