<% form_for(@workstation) do |f| %>
<%= f.error_messages %>
  <%= collection_select(:workstation, :place_id, Place.all, :id, :title,{},
    {:prompt => true, :size => Place.all.count + 1 }) %>


<p>
  <% if action_name == 'new' %>
  <%= f.submit t('workstations.create') %>
  <% else %>
  <%= f.submit t('workstations.edit') %>
  <% end %>
</p>

<% end %>

<%= link_to 'Show', @workstation %> |
<%= link_to 'Back', workstations_path %>
