<% form_for(@workstation) do |f| %>
<%= f.error_messages %>
 <h3> <%= t('menu.change_place') %> </h3>
<div id='quarter' >
  <%= t('phrases.list_of') + t('menu.places') %>
  <%= collection_select(:workstation, :place_id, Place.find(:all, :order => 'title'), :id, :title,{},
    {:prompt => true, :size => Place.all.count + 1 }) %>
</div>

<p>
  <% if action_name == 'new' %>
  <%= f.submit t('workstations.create') %>
  <% else %>
  <%= f.submit t('workstations.edit') %>
  <% end %>
</p>

<% end %>

<%= link_to t('common_actions.show'), @workstation %> |
<%= link_to t('common_actions.back'), workstations_path %>
