<%= render :partial => 'places_selector' %>

<%= observe_field("places", :update => "outer",
:url => { :controller => 'workstations', :action => :stats },
:with => "'place_id='+value") %>

<div id='stats'>
Computers: <%= @all %>
<%  @value = GoogleChart.pie_3d_330x100(@chart).to_url %>
<%= image_tag(@value)  rescue nil %>
</div>

<div id='stats'>
Printers:<%= @all %>
<%  @value = GoogleChart.pie_3d_330x100(@chart_printer).to_url %>
<%= image_tag(@value)  rescue nil %>
</div>

<div id='stats'>
Screens:<%= @all_screens %>
<%  @value = GoogleChart.pie_3d_330x100(@chart_screen).to_url %>
<%= image_tag(@value)  rescue nil %>
</div>

