<% form_for(@company) do |f| %>
  <%= f.error_messages %>

    <p>
     <%= t('company.name') %><br />
     <%= f.text_field :name %>
    </p>
     <% content_tag :div, :id => 'quarter'  do %>
       <%= t('company.street') %>
       <%= f.text_field :street %>

       <%= content_tag('br') %>

       <%= t('company.number') %>
       <%= f.text_field :number %>

       <%= content_tag('br') %>

       <%= t('company.city') %>
       <%= f.text_field :city %>

       <%= content_tag('br') %>

       <%= t('company.contact') %>
       <%= f.text_field :contact %>

       <%= content_tag('br') %>

       <%= t('company.country') %>
       <%= select(:company, :country, @countries.to_a.collect {|p| [p,p]} ) %>
    <% end %>

    <p>
     <%= t('company.phone') %><br />
     <%= f.text_field :phone %>
    </p>
    <p>
     <%= t('company.fax') %><br />
     <%= f.text_field :fax %>
    </p>
    <p>
     <%= t('company.email') %><br />
     <%= f.text_field :email, :value => 'without@email.com' %>
    </p>

    <% if action_name == 'new' %>
    <%= f.submit t('company.create') %>
    <% else %>
    <%= f.submit t('company.edit') %>
    <% end %>

<% end %>
