<table>
  <tr>
    <%= content_tag('th', t('company.name')) %>
    <%= content_tag('th', t('company.address')) %>
    <%= content_tag('th', t('company.phone')) %>
    <%= content_tag('th', t('company.fax')) %>
    <%= content_tag('th', t('company.email')) %>
    <th colspan='3'><%= t 'common-actions.actions' %></th>
  </tr>
<% for company in @companies %>
  <tr>
    <%= content_tag('td', company.name) %>
    <%= content_tag('td', company.address) %>
    <%= content_tag('td', company.phone) %>
    <%= content_tag('td', company.fax) %>
    <%= content_tag('td', company.email) %>
    <%= content_tag('td', link_to(t('common-actions.show'), company)) %>
    <%= content_tag('td', link_to(t('common-actions.edit'), edit_company_path(company))) %>
    <%= content_tag('td', link_to(t('common-actions.destroy'), company, :confirm => 'Are you sure?', :method => :delete)) %>
  </tr>
<% end %>
</table>
<br />
