<%= advice( @printer.is_part_of_a_workstation, t('common-actions.hide-advice'),
 t('help-phrases.in-workstation'))%>

<% form_for(@printer) do |f| %>
  <%= f.error_messages %>

  <%= t('printers.model') %>
  <%= f.text_field :model %>

  <%= t('printers.sn') %>
  <%= f.text_field :serialnumber %>

  <div id="quarter" >
    <%= collection_select 'printer', 'mark_id', Mark.find(:all), 'id', 'name',
        {:prompt => true} %>
  </div>

  <% if not @printer.is_part_of_a_workstation %>
  <div id="quarter" >
    <%= collection_select 'printer', 'place_id', Place.find(:all), 'id', 'title',
        {:prompt => true} %>
  </div>
  <% end %>

  <div id="quarter" >
    <%= t 'menu.bills' %><%= t 'bill.code' %>
    <%= collection_select 'printer', 'bill_id', Bill.find(:all), 'id', 'code',
        {:prompt => true} %>
  </div >

  <p>
    <% if action_name == 'new' %>
    <%= f.submit  t('common-actions.create') %>
    <% else %>
    <%= f.submit  t('common-actions.edit') %>
    <% end %>
  </p>
<% end %>
