<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<%= advice( @printer.is_part_of_a_workstation, t('common_actions.hide_advice'),
    t('help_phrases.in_workstation'),'quarter', 'printer')%>

  <% form_for(@printer) do |f| %>
  <%= f.error_messages %>

  <%= t('printers.sn') %>
  <%= f.text_field :serialnumber, :focus => true %>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('printers.inventory_register') %>
  <%= f.text_field :inventory_register %>

  <% 2.times do %>
  <br>
  <% end %>


  <%= t('printers.sn') %>
  <div id="quarter" >
    <%= collection_select 'printer', 'mark_id', Mark.find(:all, :select => 'id, name', :order => 'name ASC'), 'id', 'name',
        {:prompt => true} %>
  </div>

  <%= observe_field "printer_mark_id", :update => "model_id_container",
  :with => "mark_id", :url => { :controller => "printers",
  :action => "models" } %>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('printers.model') %>
  <div id="model_id_container">
  </div>

  <% 2.times do %>
  <br>
  <% end %>

  <%= t('menu.places') %>
  <% if not @printer.is_part_of_a_workstation %>
  <div id="quarter" >
    <%= collection_select 'printer', 'place_id', Place.find(:all, :select => 'id, title', :order => 'title ASC'), 'id', 'title',
        {:prompt => true} %>
  </div>
  <% end %>

  <% 2.times do %>
  <br>
  <% end %>

  <div id="quarter" >
    <%= t 'menu.bills' %><%= t 'bill.code' %>
    <%= collection_select 'printer', 'bill_id', Bill.find(:all), 'id', :company_bill,
        {:prompt => true} %>
  </div >

  <% 2.times do %>
  <br>
  <% end %>

<p>
  <% if action_name == 'new' %>
  <%= f.submit  t('common_actions.create') %>
  <% else %>
  <%= f.submit  t('common_actions.edit') %>
  <% end %>
</p>
<% end %>
