<% form_for(@memory) do |f| %>
  <%= f.error_messages %>

  <%= f.label 'model' %>
  <%= f.text_field :model %>

    <% 2.times do %>
    <br>
    <%  end %>

  <%= f.label 'serialnumber' %>
  <%= f.text_field :serialnumber %>

    <% 2.times do %>
    <br>
    <%  end %>

  <%= f.label 'size' %>
  <%= f.text_field :size %>

    <% 2.times do %>
    <br>
    <%  end %>

  <%= collection_select 'memory', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>

  <%= collection_select 'memory', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  <p>
    <% if action_name == 'new' %>
    <%= f.submit "Create" %>
    <% else %>
    <%= f.submit "Edit" %>
    <% end %>
  </p>
<% end %>
