<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<% form_for(@memory) do |f| %>
<%= f.error_messages %>

<%= f.label 'model' %>
<%= f.text_field :model %>

<% 2.times do %>
<br>
<%  end %>

<%= f.label 'serialnumber' %>
<%= f.text_field :serialnumber %>

<% 2.times do %>
<br>
<% end %>

<%= t('memories.inventory_register') %>
<%= f.text_field :inventory_register %>

<% 2.times do %>
<br>
<%  end %>

<%= f.label 'size' %>
<%= f.text_field :size %>
<% content_tag :div, :id => "quarter" do %>
<%= select 'memory', 'unit', [['mb', 'mb'], ['gb', 'gb']], {:include_blank => true} %>
<% end -%>

<% 2.times do %>
<br>
<%  end %>
<% content_tag :div, :id => "quarter" do %>

Computer:
<%= collection_select 'memory', 'computer_id', Computer.find(:all), 'id', 'name',
    {:prompt => true} %>
<% end -%>

<% content_tag :div, :id => "quarter" do %>
Mark:
<%= collection_select 'memory', 'mark_id', Mark.find(:all), 'id', 'name',
    {:prompt => true} %>
<% end -%>

<div id="quarter" >
  <%= t 'menu.bills' %><%= t 'bill.code' %>
  <%= collection_select 'memory', 'bill_id', Bill.find(:all), 'id', :company_bill,
      {:prompt => true} %>
</div >

<p>
  <% if action_name == 'new' %>
  <%= f.submit t('common_actions.create') %>
  <% else %>
  <%= f.submit t('common_actions.edit') %>
  <% end %>
</p>
<% end %>
