<table>
  <tr>
    <th><%= t('memories.model') %></th>
    <th><%= t('memories.sn') %></th>
    <th><%= t('memories.mark') %></th>
    <th>Pc</th>
    <th colspan='3'><%= t('common-actions.actions') %></th>
  </tr>
<% for memory in @memories %>
  <tr  class="<%= cycle("rowA","rowB") %>">
    <td><%= memory.model %></td>
    <td><%= memory.serialnumber %></td>
    <td><%= memory.mark.name rescue nil  %></td>
    <td><%= memory.computer.name rescue nil  %></td>
    <td><%= link_to t('common-actions.show'), memory %></td>
    <td><%= link_to t('common-actions.edit'), edit_memory_path(memory) %></td>
    <td><%= link_to t('common-actions.destroy'), memory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
