<%= javascript_include_tag :defaults %>

<table>
  <% form_tag :action => 'search' do %>
  <tr>
    <td><label><%= t 'memories.model' %></label></td>
    <td><%= text_field_with_auto_complete :memory, :model, {:size => 20}, {:method => :get} %></td>
    <td><%= submit_tag  t 'search.label' %></td>
    <% end %>
  </tr>
  <tr>
    <% form_tag :action => 'search' do %>
    <td><label><%= t 'memories.sn' %></label></td>
    <td><%= text_field_with_auto_complete :memory, :serialnumber, {:size => 20}, {:method => :get} %></td>
    <td><%= submit_tag  t 'search.label' %></td>
  </tr>
  <% end %>
</table>
