<h1>Listing memories</h1>

<table border='1' >
  <tr>
    <td>Model</td>
    <td>SN</td>
    <td>Computer</td>
    <td colspan='3' align='center' >Actions</td>
  </tr>

<% for memory in @memories %>
  <tr>
    <td><%= memory.model %></td>
    <td><%= memory.serialnumber %></td>
    <td><%= memory.computer.name rescue nil %></td>
    <td><%= link_to 'Show', memory %></td>
    <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
    <td><%= link_to 'Destroy', memory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New memory', new_memory_path %>
