<% form_for(@dvd) do |f| %>
  <%= f.error_messages %>

  <%= f.label 'model' %>
  <%= f.text_field :model %>

  <%= f.label 'serialnumber' %>
  <%= f.text_field :serialnumber %>

  Burn <%= radio_button('dvd', 'writable', 't') %>
  Not burn<%= radio_button('dvd', 'writable', 'f') %>

  <%= collection_select 'dvd', 'computer_id', Computer.find(:all), 'id', 'name',
      {:prompt => true} %>

  <%= collection_select 'dvd', 'mark_id', Mark.find(:all), 'id', 'name',
      {:prompt => true} %>
  <p>
    <% if action_name == 'new' %>
    <%= f.submit "Create" %>
    <% else %>
    <%= f.submit "Edit" %>
    <% end %>
  </p>

<% end %>
