<!-- This file is part of Hardware Inventory. -->
<!--     Copyright (C) 2009 Cesar Diaz -->
<!--      Hardware Inventory is free software: you can redistribute it and/or modify -->
<!--      it under the terms of the GNU General Public License as published by -->
<!--      the Free Software Foundation, either version 3 of the License, or -->
<!--      any later version. -->
<!--      This program is distributed in the hope that it will be useful, -->
<!--      but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!--      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the -->
<!--      GNU General Public License for more details. -->
<!--      You should have received a copy of the GNU General Public License -->
<!--      along with this program. If not, see <http://www.gnu.org/licenses/>. -->

<% form_for(@dvd) do |f| %>
<%= f.error_messages %>

<%= t('dvds.sn') %>
<%= f.text_field :serialnumber %>

<% 2.times do %>
<br>
<% end %>

<%= t('dvds.inventory_register') %>
<%= f.text_field :inventory_register %>

Burn <%= radio_button('dvd', 'writable', 't') %>
Not burn<%= radio_button('dvd', 'writable', 'f') %>

<%= collection_select 'dvd', 'computer_id', Computer.find(:all), 'id', 'name',
    {:prompt => true} %>

<% content_tag :div, :id => "quarter" do %>
Mark:
<%= collection_select 'dvd', 'mark_id', Mark.find(:all), 'id', 'name',
    {:prompt => true} %>
<% end -%>

<%= observe_field "dvd_mark_id", :update => "model_id_container",
:with => "mark_id", :url => { :controller => "dvds",
:action => "models" } %>

Modelo
<div id="model_id_container">
</div>

<div id="quarter" >
  <%= t 'bill.code' %>
  <%= collection_select 'dvd', 'bill_id', Bill.find(:all), 'id', :company_bill,
      {:prompt => true} %>
</div >

<p>
  <% if action_name == 'new' %>
  <%= f.submit t('common_actions.create') %>
  <% else %>
  <%= f.submit t('common_actions.edit') %>
  <% end %>
</p>

<% end %>
