<% form_for(@place) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label 'place' %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label 'description' %>
  <br>
  <%= select( "place", "description", {"Department" => "department",
    "Office" => "office", "Room" => "room", "Store" => "store"},
  { :prompt => true }) %>
</p>

<p>
  <% if action_name == 'new' %>
  <%= f.submit "Create" %>
  <% else %>
  <%= f.submit "Edit" %>
  <% end %>
</p>
<% end %>
