<% form_for(@place) do |f| %>
<%= f.error_messages %>

<p>
  <%= t('places.name') %>
  <%= f.text_field :title %>
</p>

<p>
  <%= t('places.description') %>
  <br>
  <div id="quarter" >
    <%= select( "place", "description", {t('places.departments') => "department",
    t('places.offices') => "office", t('places.classrooms') => "classroom", t('places.rooms') => "room", t('places.stores') => "store"},
    { :prompt => true }) %>
  </div>
</p>

<p>
  <% if action_name == 'new' %>
  <%= f.submit t('places.create') %>
  <% else %>
  <%= f.submit t('places.edit') %>
  <% end %>
</p>
<% end %>
