<a href="#" onclick="Effect.toggle('toggle_appear_table_list_places', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
<div id='right_content' >
  <%= link_to t('common_actions.download'), :controller => 'places',
  :action => 'xls_places' %> |
  <%= link_to  t('common_actions.download_pdf'), :controller => 'places',
  :action => 'pdf' %>
</div>
<div id='toggle_appear_table_list_places' >
  <div>
    <h2><%= t('phrases.list_of') + t('menu.places') %></h2>
    <table>
      <tr>
        <%= content_tag('th', t('places.name')) %>
        <%= content_tag('th', t('places.description')) %>
        <%= content_tag('th', t('places.computer')) %>
        <%= content_tag('th', t('places.screen')) %>
        <%= content_tag('th', t('places.printer')) %>
        <th colspan='3'><%= t('common_actions.actions') %></th>
      </tr>
      <% for place in @places %>
      <tr  class="<%= cycle("rowA","rowB") %>">
        <td><%= link_to place.title, place %></td>
        <td><%= which_type_of_place_is?(place.description) %></td>
        <td><%= place.computer.count %></td>
        <td><%= place.screen.count %></td>
        <td><%= place.printer.count %></td>
        <td><%= link_to t('common_actions.show'), place %></td>
        <td><%= link_to t('common_actions.edit'), edit_place_path(place) %></td>
        <td><%= link_to t('common_actions.destroy'), place, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
