<a href="#" onclick="Effect.toggle('toggle_appear_table_list_places', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
<% content_tag :div, :id => 'toggle_appear_table_list_places' do %>
    <% content_tag :table do %>
      <% content_tag :tr do %>
        <%= content_tag('th', t('places.name')) %>
        <%= content_tag('th', t('places.description')) %>
        <%= content_tag('th', t('places.computer')) %>
        <%= content_tag('th', t('places.screen')) %>
        <%= content_tag('th', t('places.printer')) %>
        <%= content_tag('th', t('places.workstations')) %>
        <%= content_tag('th', t('common_actions.actions'), options = {:colspan => 3}) %>
      <% end -%>
      <% for place in @places %>
      <tr  class="<%= cycle("rowA","rowB") %>">
        <%= content_tag('td', link_to(place.title, place), options = {:nowrap => true}) %>
        <%= content_tag('td', which_type_of_place_is?(place.description)) %>
        <%= content_tag('td', place.computer.count) %>
        <%= content_tag('td', place.screen.count) %>
        <%= content_tag('td', place.printer.count) %>
        <%= content_tag('td', Workstation.list_for_place(place.id).count) %>
        <%= content_tag('td', link_to(t('common_actions.show'), place)) %>
        <%= content_tag('td', link_to(t('common_actions.edit'), edit_place_path(place))) %>
        <%= content_tag('td', link_to(t('common_actions.destroy'), place,
            :confirm => 'Are you sure?', :method => :delete)) %>
      </tr>
      <% end %>
    <% end -%>

<% end -%>
