<a href="#" onclick="Effect.toggle('screens', 'appear'); return false;">
<%= t('common-actions.show-hide') %></a>
<div id="screens">
<%= t('phrases.list_of') + ' ' + t('places.screen') %>
<%= link_to t('common-actions.download'), :controller => 'places', :action => 'xls_screens', :id => params[:id] %>
<% if not @screens.empty? %>
<%= render :partial => 'screens/list' %>
<% else %>
<%= 'empty' %>
<% end %>
</div>

<% 2.times do %>
<br>
<%  end %>
