<% if not @screens.empty? %>
<a href="#" onclick="Effect.toggle('screens', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
<div id="screens" style="border: solid 1px #000;">
  <div id='subtitles' >
    <%= t('phrases.list_of') + ' ' + t('places.screen') %>
    |
    <%= link_to t('common_actions.download'), :controller => 'places', :action => 'xls_screens', :id => params[:id] %>
  </div>

  <%= render :partial => 'screens/list' %>
</div>
<% else %>
<%= t('phrases.list_of') + t('places.screen')+  t('phrases.has') + @screens.count.to_s +  t('phrases.units') %>
<% end %>

<% 2.times do %>
<br>
<%  end %>
