<% cache(:fragment => "places/_stats") do %>
<div>
  <%= link_to 'All', :controller => "places", :action => "index" %>
  <%= @all %>
</div>

<div>
  Rooms
  <%= @rooms %>
</div>

<div>
  Departments
  <%= @departments %>
</div>

<div>
  Offices
  <%= @offices %>
</div>

<div>
  Stores
  <%= @stores %>
</div>


<%  @value = GoogleChart.pie_3d_330x100(@hash).to_url %>
<%= image_tag(@value)  rescue nil %>

<% end %>
