<% content_tag :h2 do %>
  <%= @name_of_place %>
<% end %>

<% content_tag :div, :id => 'right-content' do %>
  <%= link_to t('common-actions.download-all'), :controller => 'places', :action => 'all_hardware', :id => params[:id] %>
<% end %>

<!-- Rendering screens in place -->
<%= render :partial => 'render_screens', :locals => { :account => @screens } %>
<!-- end -->

<!-- Rendering printers in place -->
<%= render :partial => 'render_printers', :locals => { :account => @printers } %>
<!-- end -->

<!-- Rendering computers in place -->
<%= render :partial => 'render_computers', :locals => { :account => @computers } %>
<!-- end -->


<!-- Rendering workdstations in place -->
<%  @workstations = Workstation.list_for_place(params[:id]) %>
<% if not @workstations.empty? %>
<a href="#" onclick="Effect.toggle('list_workstations', 'appear'); return false;">
  <%= t('common-actions.show-hide') %></a>
|
<%= link_to t('common-actions.download'), :controller => 'workstations', :action => 'xls_workstations',
:id => params[:id]  %>

<% content_tag :div, :id => 'list_workstations' do %>
<%= render :partial => '/workstations/list', :locals => { :workstations => @workstations } %>
<% end %>
<% else %>

<% content_tag :div, :id => 'description' do %>
  <% content_tag :div do %><%= t('workstations.list_of_equipments') %> <%= @place_name rescue nil %> :  <% end %>
<% end %>

<% end %>


<%= link_to t('places.edit'), edit_place_path(@place) %> |
<%= link_to t('places.back'), places_path %> |
<a href='#' onclick='effect.ScrollTo('article_top'); return false;'> <%= t('common-actions.top-page') %></a>
