<% content_tag :h2 do %>
  <%= @name_of_place %>
<% end %>

<% content_tag :div, :id => 'right-content' do %>
  <%= link_to t('common-actions.download-all'), :controller => 'places', :action => 'all_hardware', :id => params[:id] %>
<% end %>

<!-- Rendering screens in place -->
<%= render :partial => 'render_screens', :locals => { :account => @screens } %>
<!-- end -->

<!-- Rendering printers in place -->
<%= render :partial => 'render_printers', :locals => { :account => @printers } %>
<!-- end -->

<!-- Rendering computers in place -->
<%= render :partial => 'render_computers', :locals => { :account => @computers } %>
<!-- end -->


<!-- Rendering workdstations in place -->
<%= render :partial => 'render_workstations' %>


<%= link_to t('places.edit'), edit_place_path(@place) %> |
<%= link_to t('places.back'), places_path %> |
<a href='#' onclick='effect.ScrollTo('article_top'); return false;'> <%= t('common-actions.top-page') %></a>
