<h2><%= @text %></h2>

List of computers in this place:

<% if not @computers.empty? %>
  <%= render :partial => 'computers/list' %>
<% else %>
  <%= 'empty' %>
<% end %>

<br>

<%= link_to t('places.edit'), edit_place_path(@place) %> |
<%= link_to t('places.back'), places_path %>
