<% cache(:fragment => "places/_stats") do %>

<a href="#" onclick="Effect.toggle('toggle_appear_table_list_places', 'appear'); return false;">
  Mostrar/ocultar tabla de lugares</a>
<div id='toggle_appear_table_list_places' style='border: solid 1px #eee;'  >
  <div>

    <%= t('places.graphic_stats_in_numbers') %>

    <div id='stats_data'>
      <%= link_to  t('places.all'), :controller => "places", :action => "index" %>
      <%=
         Place.rooms.count + Place.rooms.count +
         Place.departments.count + Place.stores.count \
         rescue nil
         %>

    </div>

    <div id='stats_data'>
      <%= t('places.rooms') %>
      <%= Place.rooms.count %>
    </div>

    <div id='stats_data'>
      <%= t('places.departments') %>
      <%= Place.departments.count %>
    </div>

    <div id='stats_data'>
      <%= t('places.offices') %>
      <%= Place.offices.count %>
    </div>

    <div id='stats_data'>
      <%= t('places.stores') %>
      <%= Place.stores.count %>
    </div>

  </div>
</div>

<br/>
<a href="#" onclick="Effect.toggle('toggle_appear_pie_3d_graph', 'appear'); return false;">
  Mostrar/ocultar grafico estadistico</a>
<div id='toggle_appear_pie_3d_graph' style='border: solid 1px #eee;' >
  <div>
    <%  @value = GoogleChart.pie_3d_530x200(@chart).to_url %>
    <%= image_tag(@value)  rescue nil %>
  </div>
</div>
<% end %>

