<% cache(:fragment => "places/_stats") do %>
<%= t('places.graphic_stats_in_numbers') %>

<div id='stats_data'>
  <%= link_to  t('places.all'), :controller => "places", :action => "index" %>
  <%=
     Place.rooms.count + Place.rooms.count +
     Place.departments.count + Place.stores.count \
     rescue nil
     %>

</div>

<div id='stats_data'>
  <%= t('places.rooms') %>
  <%= Place.rooms.count %>
</div>

<div id='stats_data'>
  <%= t('places.departments') %>
  <%= Place.departments.count %>
</div>

<div id='stats_data'>
  <%= t('places.offices') %>
  <%= Place.offices.count %>
</div

<div id='stats_data'>
  <%= t('places.stores') %>
  <%= Place.stores.count %>
</div>

<br>
<%= t('places.graphic_stats_paragraph') %>

<br>
<%  @value = GoogleChart.pie_3d_530x200(@chart).to_url %>
<%= image_tag(@value)  rescue nil %>

<% end %>
