<% cache(:fragment => "places/_stats") do %>

<%= render :partial => 'search' %>

<%= javascript_include_tag('swfobject') %>
<a href="#" onclick="Effect.toggle('toggle_appear_table_list_places', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
<div id='toggle_appear_table_list_places' style='border: solid 1px #eee;'  >
    <%= @graph %>
</div>




<br/>
<a href="#" onclick="Effect.toggle('toggle_appear_pie_3d_graph', 'appear'); return false;">
  <%= t('common_actions.show_hide') %></a>
<div id='toggle_appear_pie_3d_graph' style='border: solid 1px #eee;' >
<%= @computers_by_place %>
</div>
<% end %>



