<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="outer">

      <%= render :partial => 'shared/menu' %>

      <div id="content">

        <%= render :partial => 'shared/primary_content' %>

        <div id="secondaryContent">
          <% if controller.action_name != 'edit' && controller.action_name != 'show' &&
             controller.action_name != 'new' && controller.action_name != 'create' %>
          <div class="box boxB">
            <div class="boxContent">
              <%= render :partial => 'search' %>
            </div>
          </div>
          <% else %>
          <div class="box boxB">
            <div class="boxContent">
              <h2><%= controller.controller_name%> : <%= controller.action_name %></h2>
            </div>
          </div>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>

      <%= render :partial => 'shared/footer' %>

    </div>
  </body>
</html>
