<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="outer">
      <div id="front-end-page-content">
        <div id='left-content' >
          <% if logged_in? %>
          <%= render :partial => 'shared/menu' %>
          <% else %>
          <%= content_tag(:div, content_tag(link_to(t('menu.login'), new_session_path)), :id => 'options') %>
          <%= front_end_pages %>
          <% end %>
        </div>
        <div id='front-end-page-content'>
        <%= yield  %>
        </div>

        <div class="clear"></div>

        <%= render :partial => 'shared/footer' %>

      </div>
    </div>
  </body>
</html>
