<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Inventory</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="default.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'default' %>
  </head>
  <body>
    <div id="outer">
      <div id="menu">
        <%= render :partial => 'shared/new_menu' %>
      </div>
      <div id="content">
        <div id="primaryContentContainer">
          <div id="primaryContent">
            <div class="box">
              <div class="boxContent">
                <h2><%= controller.controller_name %> : <%= controller.action_name %></h2>
                <%= yield  %>
              </div>
            </div>
          </div>
        </div>
        <div id="secondaryContent">
          <% if controller.action_name != 'edit' && controller.action_name != 'show' &&
             controller.action_name != 'new' && controller.action_name != 'create' %>
          <div class="box boxB">
            <div class="boxContent">
              <%= render :partial => 'search' %>
            </div>
          </div>
          <% else %>
          <div class="box boxB">
            <div class="boxContent">
              <h2><%= controller.controller_name %> : <%= controller.action_name %></h2>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
      <div id="footer">
        <p>Webmaster <a href="http://www.cesardiaz.com.ar">Cesar Diaz</a></p>
      </div>
    </div>
  </body>
</html>
